.characters {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}
.search-container {
  display: flex;
  align-self: flex-end;
  gap: 3px;
}

.search-container input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 250px;
}

.search-container button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.characters-list {
  margin-top: 20px;
}

.characters-list ul {
  list-style-type: none;
  padding: 0;
}

.characters-list ul li {
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 5px;
  background-color: #d0ffd0;
}

.pagination-buttons {
  margin-top: 20px;
}

.pagination-buttons button {
  margin-right: 10px;
}

.filtered-characters-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filtered-characters-list ul {
  list-style-type: none;
  padding: 0;
}

.filtered-characters-list ul li {
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 5px;
  background-color: #d0ffd0; /* lighter green */
  transition: background-color 0.3s ease;
}

.filtered-characters-list ul li:hover {
  background-color: #c0ffc0; /* slightly darker on hover */
}
